/target
**/*.rs.bk
.DS_Store
.vscode/
*.swp
*.swo
*~
.env

*.mdb
/world/*
/worlds/*
/worlds/
/saves/*
/saves/
/tmp

# Downloaded Minecraft source for reference
/mc-src
**/.cache

# Minecraft vanilla client data
/.minecraft

# Log files anywhere
*.log
/logs/
/logs/*

**/assets/minecraft/